<h1>Admin/Kiosk Tools</h1>

<%= row do %>
  <%= col 3 do %>
    <%= big_link "Mass Asset Borrow", borrow_tool_path, 'info', 'sign-out' %>
  <% end %>
  <%= col 3 do %>
    <%= big_link "Mass Asset Return", return_tool_path, 'info', 'sign-in' %>
  <% end %>
  <%= col 3 do %>
    <%= big_link "Receive Consumables", receive_tool_path, 'info', 'barcode' %>
  <% end %>
  <%= col 3 do %>
    <%= big_link "Quick Use Consumable", quick_use_tool_path, 'info', 'barcode' %>
  <% end %>
<% end %>
