<%= action_row big_link('New Consumable', new_consumable_path, 'primary', 'barcode'), big_link('Order List', order_consumables_path, 'info', 'cart-plus') %>

<h1>Consumable Inventory</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Global Count</th>
      <th>Thresholds</th>
    </tr>
  </thead>

  <tbody>
    <% @consumables.each do |consumable| %>
      <tr>
        <td>
          <%= link_to consumable do %>
            <%= consumable.name %> / <%= consumable.short %>
          <% end %>
        </td>
        <td>
          <% if consumable.count <= consumable.hard %>
            <div class="label label-danger">
          <% elsif consumable.count <= consumable.soft %>
            <div class="label label-warning">
          <% else %>
            <div class="label label-info">
          <% end %>
            <%= consumable.count %>
          </div>
        </td>
        <td>
          <%= consumable.soft %> / <%= consumable.hard %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
